@model ClimbingGym.Data.Models.SingleGym

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>Details for @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h2>Gym</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gym)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) | 
    @Html.ActionLink("Back to List", "Index")
</p>

